.grid_16
  #helptip-closed_red_hat_access-index.helptip-close{style: "display: none;"}
    .helptip-open-button
  #helptip-opened_red_hat_access-index.helptip-open{style: ""}
    .helptip-close-button
    %p Red Hat Access allows you to search for articles and solutions in the Red Hat knowledge base. A valid Red Hat customer portal account is required to use this feature.
#main.grid_16
  .center
    #container.container_16
      .right_panel{style: "width: 715px;"}
        #solution
      .column_panel_2.left_panel
        #list-title{style: "width: 375px;"}
          %header
            %h2.fl.one-line-ellipsis
              Red Hat Access
          #logged-in.f1.clear
          %form#rh-search.search
            %fieldset
              %input#rhSearchStr.auto_complete_input.ui-autocomplete-input{name: "searchString", placeholder: "Search Articles and Solutions", type: "text"}/
              %button.action{type: "submit"} Search
        #list.list
          %header
            .block_head.clear
              .column_1
                Suggested Solutions
          #solutions
<<<<<<< HEAD
= stylesheet "red_hat_access/articles"
= javascript "red_hat_access/articles"
=======
%script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
/ temporary till we sort out assets order
= stylesheet_link_tag "red_hat_access/articles"
= javascript_include_tag "red_hat_access/articles"
>>>>>>> 26fc69f160c5968f7e97426297ab7389a807c2d6
